/* .group2167 {
    width: 200%;
    height: auto;
    border: 2px solid red;
    position: relative;
    top: 220px;
    left: -100px

} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  font-size: 13px;
}

.hamburger {
  text-align: right;
  margin-top: -50px;
}

nav {
  background-color: #BB4B01;
}

.nav-items {
  padding: 20px 0 40px 0;
}

.body-bg {
    background-image: url("./assets/ICON/SVG ICON/Group 2167.svg");
    background-size: 45em;
    background-repeat: no-repeat;
    background-position-x: -100px;
    background-position-y: 90px;
    background-color: #F3F3F3
    /* background: -webkit-linear-gradient(bottom, 0% #F3F3F3, 100% #FFFFFF) */
}

.logo {
    width: 215px;
height: 62px;
    background: #BB4B01 0% 0% no-repeat padding-box;
box-shadow: 0px 10px 35px #AC470433;
border-radius: 45px;
margin-top: 40px
}

.logo-image{   
height: 50px;
background: url('./assets/ICON/SVG ICON/Coop Election BG.svg') 0% 0% no-repeat padding-box;
background-size: 100%;
opacity: 1;
}

.login-text {
    color: #C65301;
    font-size: 1.8em;
    font-weight: 500;
    position: absolute;
    top: 50px;
    left: -3px
}

.card-form {
    height: 100vh
}

.card-form .card {
    width: 100%;
    border: none;
    box-shadow: 0px 3px 15px #00000012;
}

.glyphicon {
    /* border: 2px solid red; */
    fill: rgb(163, 163, 163);
}

input {
    width: 70%;
    height: 20px;
}

.first-input {
    /* background-color: #F3F3F3; */
    padding: 0px 20px;
}

.first-input input {
    outline: none;
    border: none;
    /* background-color: #F3F3F3; */
    padding: 5px 5px;
}

.input {
    padding: 0px 20px;
    border-top: 2px solid #F3F3F3
}
.input input {
    outline: none;
    border: none;
    padding: 5px;

}

.label {
    font-size: 0.8rem;
    color: gray;
    padding: 5px;
}

.input-text {
    font-weight: 600;
}

  
  .selectdiv:after {
      content: url('./assets/ICON/SVG ICON/Icon ionic-ios-arrow-dropdown-circle.svg');
      position: absolute;
      right: 8px;
      top: 28px;
      pointer-events: none;
  }
  
  /* IE11 hide native button (thanks Matt!) */
  select::-ms-expand {
  display: none;
  }
  
  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 105%;
    padding: 5px 5px;
    color: #333;
    border: none;
    background-color: #ffffff;
    -ms-word-break: normal;
    word-break: normal;
  }

  .selectdiv select:focus {
      outline: none;
  }

  .login {
    width: 208px;
    height: 52px;
    background: #BB4B01 0% 0% no-repeat padding-box;
    box-shadow: 5px 15px 45px #00000042;
    border-radius: 20px;
    margin-top: 96px;
    margin-left: 70px;
    
  }

  .forgot-password {
      margin-left: 90px;
      margin-top: 96px;
      text-decoration: underline;
      letter-spacing: 0.5px;
      color: #C65301;
      cursor: pointer;
  }


  /* Voters validation */
  .body-valid-bg {
    background: #F9F9F9
  }

  

  .icon {
      fill: #F3F3F3;
  }


  li {
      list-style-type: none;
  }

  /* .logo-left-nav {
    padding-top: 100px;
    margin-left:30px;
  } */

  .nav-list {
      margin-top:70px;
      margin-left: 25px;
  }

  ul li{
      margin-top: 70px;
  }


    .voter-header {
        width: 289px;
        height: 46px;
        text-align: left;
        letter-spacing: 0px;
        color: #BB4B01;
        opacity: 0.79;
        font-style: medium;
        font-size: 32px;
        font-weight: 500;
    }
     
    .search-keyword {
        margin-top: 40px;
        width: 100%;
        height: 40px;
        background-color: #ECEDEE;
        background-image: url('./assets/ICON/SVG ICON/Search.svg');
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 20px;
        border-radius: 100px;
        opacity: 1;
        border: none;
        padding-left: 45px;
    }

    .search-keyword:focus {
        outline: none
    }

    .custom-select  select {
        width: 100%;
        height: 34px;
        padding: 5px;
        font-size: 16px;
        line-height: 1;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 7px 19px #AC470412;
        border-radius: 41px;
        -webkit-appearance: none;
        border: 2px solid red;
    }

    .card-details {
        margin-top: 45px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 10px 20px #BB4B0117;
        border-radius: 30px;
        border: none;
        padding: 30px;
    }

    .presidential {
        font-size: 1.5em;
        font-weight: 600;
        border-bottom: 2px solid rgb(223, 221, 221);
        padding: 10px;
    }

    /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #BB4B01;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #BB4B01;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

.striped, .striped tbody tr td {
    /* border: 2px solid red; */
    padding: 10px;
}

.striped tbody {
    background: #F9F9F9 0% 0% no-repeat padding-box;
    /* text-align: left; */
    /* font: normal normal normal 16px/20px Sofia Pro; */
    letter-spacing: 0px;
    color: #BB4B01;
    border-radius: 34px;

}

.validate {
    text-align: center;
    background: #BB4B01 0% 0% no-repeat padding-box;
    border-radius: 35px;
    padding: 10px;
}

       
       .active{
        background: #F7F8F9;
        border-top-left-radius: 500px;
        border-bottom-left-radius: 500px;
        text-align: left;
        /* font: normal normal bold 18px/22px Sofia Pro; */
        letter-spacing: 0px;
        color: #BB4B01;
        opacity: 1;
        padding: 20px;
        font-weight: 500;
        font-size: 1.3em;
        /* width: 293px;
        height: 116px;  */
    }

    .dashboard-right-nav {
        background: #F5F3F3 0% 0% no-repeat padding-box;
        border: 2px solid #EDEDF582;
        border-radius: 30px 0px 0px 30px;
        margin-top: 20px;
    }

    .dashboard-right-nav .container {
        padding: 40px 20px 20px 20px;
    }

    .profile {
        background: #DB6B03 0% 0% no-repeat padding-box;
        box-shadow: 0px 11px 34px #CECDCD3B;
        border-radius: 28px;
        /* height: 250px; */
        margin-top: 50px;
        padding: 20px;
    }

    
    .profile-name {
        text-align: center;
        font-weight: 600;
        font-size: 1.3em;
        color: white;
        margin-top: 15px;
    }

    .profile-email {
        text-align: center;
        color: rgb(224, 224, 224);
    }

    .card.notification {
        padding: 20px;
        margin-top: 30px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E6E5F2;
        border-radius: 16px;
        opacity: 1;
    }

    .time {
        color: #949596;
        font: 8px;
    }






    /* // Small devices (landscape phones, 576px and up) */
    @media (max-width: 576px) { 
      .dashboard-left-nav {
            background-color: #b94c03ef;
            width: 94.5%;
            height: 1080px;
            display: block;
            margin-left: -800px;
            position: absolute;
            z-index: 2;
            transition: all 1s cubic-bezier(.01,.66,.72,1.1);
      }
      .logo-left-nav {
        display: none;
      }
      /* .hamburger {
        margin-right: 25px;
      } */
    }
     

    /* // Medium devices (tablets, 768px and up) */
    /* @media (min-width: 577px) and (max-width: 768px) { */
      /* .dashboard-left-nav {
        background-color: #c04d01;
        border-top-right-radius: 70px;
        width: 100%;
        height: 1080px;
        border-bottom-right-radius: 50px;
    } */
    /* } */


     /* // Extra large devices (large desktops, 1200px and up) */
    /* @media (min-width: 1200px) { */
      @media (min-width: 577px) and (max-width: 768px) {
        .dashboard-left-nav {
          background-color: #b94c03ef;
          width: 95.6%;
          height: auto;
          display: block;
          position: absolute;
          z-index: 2;
          margin-left: -800px;
          transition: all 1s cubic-bezier(.01,.66,.72,1.1);
      }
      .logo-left-nav {
        display: none;
      }

      .voter-header {
        text-align: center
      }
    } 



    @media (min-width: 769px) {
      .dashboard-left-nav {
        background-color: #c04d01;
        border-top-right-radius: 70px;
        width: 100%;
        height: 1080px;
        border-bottom-right-radius: 50px;
        display: block;
    }
      .close-side-nav {
        display: none;
      }
      
  }

      

    
    @media (min-width: 760px) and (max-width: 890px) {
      .logo-left-nav {
        padding-top: 100px;
        margin-left:10px;
      }
  }

  @media (min-width: 891px) {
    .logo-left-nav {
      padding-top: 100px;
      margin-left:30px;
    }
}

@media (min-width: 992px) and (max-width: 1104px) {
  .logo-left-nav {
    padding-top: 100px;
    margin-left:0px;
  }
}
@media (min-width: 1105px) { 
  .logo-left-nav {
    padding-top: 100px;
    margin-left:10px;
  }
}

@media (min-width: 992px) and (max-width: 1150px) {
  .profile-pics {
    background-color: #fff;
    width: 70%;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
        
}

}

@media (min-width: 1151px) {
  .profile-pics {
    background-color: #fff;
    width: 50%;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
        
}
}

.close-side-nav {
  /* float: right;
  /* text-align: right; */
  /* margin-right: 120px;  */
}
    .card-details {
      /* border: 2px solid red; */
      /* width: 300%; */
    }
    


    /* // Large devices (desktops, 992px and up) */
    

   
    .goal {
        border: 2px solid red;
    }

    